alfred/
darktable/*.db*
darktable/lua/
tmux/plugins
darktable/keyboardrc
gh/hosts.yml
discordcanary/
Electron/
geany/
atril/
Kvantum/
leafpad/
libfm/
Logseq/
pamac/
openbox/
pyroom.conf
QtProject.conf
xarchiver/
xfce4/
zentile/
pulse/
gpick/
gtk-2.0/
gtk-3.0/
calligra*
Thunar/
dconf/
cef_user_data/
qt5ct/
emaildefaults
emacs/
libreoffice/
okular*
rofi/
polybar/
plank/
obsidian/
alacritty/
networkmanager-dmenu/
bpytop/
goa-1.0/
fontforge/
bspwm/themes

# Zulip Folders
Zulip/blob_storage
Zulip/Cache
Zulip/Code*
Zulip/Cookie*
Zulip/Crash*
Zulip/Dictionaries
Zulip/Local*
Zulip/Logs
Zulip/Network*
Zulip/Partitions
Zulip/sentry
Zulip/server-icons
Zulip/Zulip
Zulip/TransportSecurity

# FreeTube folders
FreeTube/blob_storage
FreeTube/Cache
FreeTube/Code*
FreeTube/Crash*
FreeTube/Dictionaries
FreeTube/GPUCache
FreeTube/Network*
FreeTube/Preferences
FreeTube/QuotaManage*
FreeTube/TransportSecurity
FreeTube/Cookie*
FreeTube/Local*
FreeTube/Session*

# Fish misc
fish/completions
fish/conf.d/dracula.fish
fish/conf.d/fzf.fish
fish/functions

doom/config/minimap.el
configstore/
**/.DS_store
chezmoi/chezmoistate.boltdb
